{{ ansible_managed | comment }}

[Unit]
Description={{ go_app_service_description }}
Wants=network-online.target
After=network-online.target

[Service]
User={{ go_app_user }}
Group={{ go_app_user_group }}
Type=simple
{% for key, value in go_app_environment.items() %}
Environment={{ key }}="{{ value }}"
{% endfor %}
ExecStart=/bin/sh -c "{{ go_app_service_command }} \
{% for key, value in go_app_flags.items() -%}
  {% if value is not boolean or value %}
    {{ go_app_flags_prefix }}{{ key }}{% if value is not boolean %}={{ value | replace('"', '\\"') }}{% endif %} \
  {% endif %}
{%- endfor %}
    >> {{ go_app_log_dirpath }}/{{ go_app_name }}.log 2>&1"

[Install]
WantedBy=multi-user.target